.tabs .tab a:hover, .tabs .tab a.active{
    color: #0d47a1;
}
.tabs .tab a{
    color: rgba(13,71,161,0.7);
}
.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: rgba(13,71,161,0.2);
}
.tabs .indicator {
    
    background-color: #0d47a1;
}